@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chravel</h1>
    <p>New to China? Don't know where to visit? We will help you customize your own trip!</p>
</div>
